header {
  margin-top: 5em;
  height: 400px;
  width: 100%;
  background-color: #00843D;
  background-image: url("https://www.transparenttextures.com/patterns/gray-lines.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div h2 {
  color: #000000;
  font-family: "Oxygen";
  display: flex;
  align-items: center;
}

body header div {
  margin-top: 1em;
}

@media only screen and (max-width: 419px) {
  header {
    height: 25%;
    margin-top: 3em;
  }
  header div img {
    display: none;
  }
}
