main section form {
  font-family: "Fira Sans";
}

main section form textarea {
  overflow: hidden;
  resize: none;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: thick;
  background-color: #f4f1ec;
  outline: none;
}

main section div.errorMessage {
  text-align: center;
  background-color: yellow;
  font-family: 'Bungee';
  font-size: 36px;
}

main section form div {
  display: flex;
  justify-content: space-between;
  margin: 0.2em 0;
  font-family: "Bungee";
}

main section form div button {
  background-color: #00205B;
  color: #ffffff
}

.negativeCounter {
  color: red;
}

@media only screen and (min-width: 1025px) {
  main section.new-tweet {
    padding-left: 1em;
    padding-right: 1em;
  }
}