article.tweet:hover {
  box-shadow: 0 0 0 10px #99999A;
  transition: all 200ms ease-out;
}
/* Hovering For Icons */
article.tweet:hover div footer div {
  color: #041C2C;
}

article.tweet {
  margin: 1em;
  font-family: "Oxygen";
  border-style: solid;
}

article.tweet .articleHead {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  background-image: none;
  margin-top: 0%;
}

article.tweet .articleHead p {
  color: #041C2C;
}

article.tweet div p.content {
  border-bottom-style: solid;
  display: flex;
  justify-content: end;
  font-size: 2em;
  margin: 1em;
  word-break: break-word;
}

article.tweet div footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7em;
}

article.tweet div footer div {
  color: transparent;
  font-size: 24px;
}

@media only screen and (max-width: 419px) {
  article.tweet div footer div {
    display: flex;
    flex-direction: column;
  } 
}

