article.tweet:hover {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
}
article.tweet:hover header p {
  color: skyblue;
}

article.tweet {
  margin: 1em;
  font-family: "Oxygen";
  border-style: solid;
}

article.tweet header {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  background-image: none;
}

article.tweet header p {
  color: transparent;
}

article.tweet p.content {
  border-bottom-style: solid;
  color: black;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

article.tweet footer div {
  font-size: 24px;
}