article.tweet:hover {
  box-shadow: 0 0 0 10px #99999A;
  transition: all 200ms ease-out;
}
article.tweet:hover header p {
  color: #041C2C;
}

article.tweet {
  margin: 1em;
  font-family: "Oxygen";
  border-style: solid;
}

article.tweet .articleHead {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  background-image: none;
  margin-top: 0%;
}

article.tweet .articleHead p {
  color: transparent;
}

article.tweet div p.content {
  border-bottom-style: solid;
  display: flex;
  justify-content: end;
  font-size: 2em;
  margin: 1em;
  word-break: break-word;
}

article.tweet div footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7em;
}

article.tweet div footer div {
  font-size: 24px;
}

@media only screen and (max-width: 419px) {
  article.tweet div footer div {
    display: flex;
    flex-direction: column;
  } 
}

@media only screen and (min-width: 1025px) {
  /* Write CSS rules that target Tablets screen sizes downwards - including smartphones */
  article.tweet {
    padding-block: 0.5em;
    display: flex;
  }

  article.tweet .articleHead {
    display: flex;
    flex-direction: column;
  }
  
  article.tweet .articleHead div {
    margin: 0;
  }

  article.tweet:hover header p {
    margin: 0;
  }

  article.tweet div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  article.tweet div footer {
    display: inline;
  }

  article.tweet div footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}